* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #2C3036;
    margin: 0;
}

.nav {
    list-style: none;
    margin: 0;
    overflow: 0;
}

.hidden {
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    background: transparent;
}

.button {
    background: #008752;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    display: block;
    max-width: 181px;
    width: 100%;
    padding: 11px;
    text-align: center;
}

.container {
    max-width: 1180px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
/* .header-left,
.header-right {
    display: flex;
    align-items: center;
} */

/* .header-nav {
    margin: 0 auto 0 25px;
} */

.header-nav-list {
    display: flex;
    align-items: center;
}
.header-nav-list li {
    margin-right: 15px;
}
.header-nav-list a {
    color: #333333;
}
.header-phone {
    color: #95459A;
    /* margin-right: 25px; */
}

.title {
    color: #005DAB;
}


/* banner */

.banner {
    background-image: url('../images/soc1.svg'); 
}


/* service */

.services {
    margin-bottom: 110px;
}

.service-title {
    text-align: center;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 50px;
}
.services-list {
    display: flex;
}
.service-card {
    max-width: 33%;
    width: 100%;
    margin-right: 20px;
    color:#2C3036;
}
.service-card:last-child {
    margin-right: 0;
}
.service-card-img {
    margin-bottom: 20px;
}
.service-card-title {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 20px;
    color: #2C3036;

}
.service-card-description {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

/* about */

.about {
    display: flex;
    margin-bottom: 110px;
}
.about-left,
.about-right {
    max-width: 50%;
}
.about-title {
    font-size: 72px;
    line-height: 1.2;
    color:#005DAB;
}
.about-description {
    font-size: 18px;
    line-height: 28px;
}

.about-right img{
    box-shadow: 80px 80px 0 #008752;
}


/* partners */

.partners-list {
    display: flex;
    justify-content: space-between;
}


/* map */

.map-info {
    max-width: 380px;
    width: 100%;
    background-color: #008752;
    color: #FFFFFF;
}
.map-info-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
}

/* footer */

.footer {
    background: #00559D;
    color: #FFFFFF;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-title {
    font-size: 40px;
    line-height: 52px;
}
.social {
    padding: 0;
    margin: 0;
    display: flex;
}
.social li {
    margin-left: 16px;
}

/* .social a {
    background-image: url('../images/soc1.svg'); 
    background-color: #DAE2E5;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto;
    display: block;
    width: 60px;
    height: 60px;
} */