* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
}

button {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #2C3036;
    margin: 0;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    background: transparent;
}

.button {
    background: #008752;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    display: block;
    max-width: 181px;
    width: 100%;
    padding: 11px;
    text-align: center;
}
.button:hover {
    background: #26CD8B;
}
.button:active {
    background: #005232;
}
.button-secondary {
    background: #95459A;
}
.button-secondary:hover {
    background: #D665DD;
}
.button-secondary:active {
    background: #722A77;
}


.container {
    max-width: 1180px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header-nav {
    margin: 0 auto 0 25px;
}

.header-nav-list {
    display: flex;
    align-items: center;
}
.header-nav-list li {
    margin-right: 15px;
}
.header-nav-list a {
    color: #333333;
}
.header-phone {
    color: #95459A;
    margin-right: 25px;
}

.title {
    color: #005DAB;
}


/* banner */

.banner {
    background-image: url('../images/fon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: linear-gradient(180deg, #E0E7ED 16.53%, #DAE2E5 102.51%);
    height: 720px;
    margin-bottom: 80px;
}
.banner-title {
    font-size: 90px;
    line-height: 90px;
    font-weight: 900;
    color:#00559D;
    padding-top: 134px;
    margin: 0 0 60px;
}


/* service */

.services {
    margin-bottom: 110px;
}

.service-title {
    text-align: center;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 50px;
}
.services-list {
    display: flex;
}
.service-card {
    max-width: 33%;
    width: 100%;
    margin-right: 20px;
    color:#2C3036;
}
.service-card:last-child {
    margin-right: 0;
}
.service-card-img {
    margin-bottom: 20px;
}
.service-card-title {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 20px;
    color: #2C3036;

}
.service-card-description {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

/* about */

.about {
    display: flex;
    margin-bottom: 110px;
}
.about-left,
.about-right {
    max-width: 50%;
}
.about-left {
    padding-right: 100px;
}
.about-title {
    font-size: 72px;
    line-height: 1.2;
    color:#005DAB;
}
.about-description {
    font-size: 18px;
    line-height: 28px;
}

.about-right img{
    box-shadow: 80px 80px 0 #008752;
}


/* partners */
.partners {
    margin-bottom: 80px;
}

.partners-list {
    display: flex;
    justify-content: space-between;
}
.partners-list a {
    opacity: 0.6; 
}
.partners-list a:hover {
    opacity: 1;
}
.partners-list a:active {
    opacity: 0.3;
}


/* map */

.map {
    position: relative;
    height: 462px;
}
.map-info {
    max-width: 380px;
    width: 100%;
    background-color: #008752;
    color: #FFFFFF;
    padding: 34px 44px;
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translate(0, 50%);
}
.map-info-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    margin: 0 0 17px;
}
.map-phone {
    color: #fff;
    margin-bottom: 23px;
    display: block;
}
.map-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 462px;
}

/* footer */

.footer {
    background: #00559D;
    color: #FFFFFF;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-title {
    font-size: 40px;
    line-height: 52px;
}
.social {
    padding: 0;
    margin: 0;
    display: flex;
}
.social li {
    margin-left: 16px;
}

.soc-ico {
    display: block;
    width: 60px;
    height: 60px;
}
.ico-svg:hover path {
    fill: #60A7E3;
}
.ico-svg:active path {
    fill: #17354F;
}

.popup .contact-form {
    position: relative;
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
}